[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
"discord.py" = "~=1.7.3"
python-dotenv = "0.14.0"
opencv-python-headless = "4.5.2.54"
scikit-image = "0.17.2"
aiofiles = "~=0.5.0"
pyyaml = "*"
pillow = "*"
numpy = "*"
python-dateutil = "*"
arrow = "~=1.0.3"
aiodns = "~=2.0"
PyJWT = "~=2.1.0"

[dev-packages]
flake8 = "~=3.8.4"
flake8-annotations = "~=2.4.1"
flake8-bugbear = "~=20.1.4"
flake8-docstrings = "~=1.5.0"
flake8-import-order = "~=0.18.1"
flake8-string-format = "~=0.3.0"
flake8-tidy-imports = "~=4.1.0"
flake8-todo = "~=0.7"
pep8-naming = "~=0.11.1"
pre-commit = "~=2.7.1"

[requires]
python_version = "3.9"

[scripts]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
