name: Build and deploy a Docker image

on:
  workflow_call:
    inputs:
      sha-tag:
        description: "A short-form SHA tag for the commit that triggered this workflow"
        required: true
        type: string

jobs:
  build:
    name: Build & Push to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN  }}

      - name: Build and Push to ghcr
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: ${{ github.ref == 'refs/heads/master' }}
          cache-from: type=registry,ref=ghcr.io/fisher60/friendo-bot:latest
          cache-to: type=inline
          tags: |
            ghcr.io/fisher60/friendo-bot:latest
            ghcr.io/fisher60/friendo-bot:${{ inputs.sha-tag }}
          build-args: |
            git_sha=${{ github.sha }}
